* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider-container img{
  object-fit: cover;
}

.slider-container .slick-prev {
  left: 2rem;
  z-index: 1;
}

.slider-container .slick-next {
  right: 2rem;
}